.classpath
.project
.settings
target
*.DS_Store
*.iml
.idea

*/test/output/
*/output
*onnene/.gitattributes
*.onnene/.properties

onnene/src/main/java/playground/onnene/localMachineGA/
onnene/src/main/java/playground/onnene/exampleCode/
