.classpath
.project
.settings
*.zip
target
bin
input
output
initialPop
onnene/src/main/java/playground/onnene/localMachineGA/
onnene/src/main/java/playground/onnene/exampleCode/
playground.onnene.localMachineGA

*.properties
onnene/.gitattributes
