.classpath
.project
.settings
*.zip
.properties
target
bin
input/
output
initialPop
.gitattributes

onnene/src/main/java/playground/onnene/localMachineGA/
onnene/src/main/java/playground/onnene/exampleCode/



