.classpath
.project
.settings
*.zip
*.properties
target
bin
input
output
initialPop
onnene/src/main/java/playground/onnene/localMachineGA/
onnene/src/main/java/playground/onnene/exampleCode/
onnene/.gitattributes
playground.onnene.localMachineGA


